// scss 전역변수 설정 가능, 다른곳에서도 사용 가능
/* 예시용
$white-color: #ffffff;
$black-color: #000000;
*/

@mixin minimize() {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin set-span-image($src) {
  background-image: url("@/assets/images/" + $src);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @content;
}

@mixin bt {
  padding-top: 16px;
  padding-bottom: 15.5px;
  padding-left: 20px;
  padding-right: 25.59px;
  display: inline-block;

  font-size: 19px;
  line-height: 22.5px;
  font-weight: 800;

  cursor: pointer;
  border-radius: 40px;
  border: #000000 2px solid;

  @include minimize() {
    display: block;
    width: fit-content;
    margin: 20px auto;
  }
}

@mixin orange-bt {
  padding-top: 16px;
  padding-bottom: 15.5px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;

  font-size: 19px;
  line-height: 22.5px;
  font-weight: 800;

  cursor: pointer;
  border-radius: 40px;
  background-color: #ffc247;

  @include minimize() {
    display: block;
    width: fit-content;
    margin: 20px auto;
  }
}
