@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  background-color: #ff8a8a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 400px;
  margin: 0;

  font-family: "Inter", sans-serif;
  place-items: center;
}

#app {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
